body.index {background-image: url(cerenity%20versuch%20idk.png);
background-repeat: no-repeat;
background-size: auto;
}

body.page2 {background-image: url(hintergrund%20page%202.png);
}

body.Page3 {background-image: url(HintergrundBlau.png);
}

body.Page5 {background-image: url(HintergrundBlau.png)}

Seiten Icon { border: 1px solid #000; height: 650px; width: 650px; position: relative; }
img { position: absolute; left: 10%; top: 6%; margin: -63px 0 0 -182px;}



header {
    background: #800;
    color: white;
    padding: 10px 10px 0 10px;
}

header h1 {
    margin: 0;
    display: inline;
    color: #800;
}

h2 {
    color:dodgerblue;
    font-size: 40px;
    font-family: "Kenyan Coffee";
    
}

nav ul{
    margin: 0;
    display: inline;
}

nav ul li {
    color: white;
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
}

nav ul li a {
    color: yellowgreen;
    font-family: "Kenyan Coffee";
    font-size: 20px;
    text-decoration:none
}

footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    font-size: 60px;
    font-family: "Kenyan Coffee";
    color: rgb(178, 21, 27);
    font-weight: bold;
}

#CSGOTEAM {
   background-image: url('Counter%20Strike.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 300px;
}

#CSGOTEAM:hover {
   background-image: url('Counter%20Strike%20hover.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 300px;
}

#TF2TEAM {
   background-image: url('cerenity%20teamfortres.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 1020px;
}

#TF2TEAM:hover {
   background-image: url('TF2Hover.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 1020x;
}

#News1 {
   background-image: url('News1.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 1020px;
}

#News1:hover {
   background-image: url('News1Holo.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 1020x;
}

footer1 {
    position: absolute;
    text-align: left;
    top: 1750px;
    left: 1020x;
    font-size: 60px;
    font-family: "Kenyan Coffee";
    color: rgb(178, 21, 27);
    font-weight: bold;
}

#News2 {
   background-image: url('News2.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 250px;
}

#News2:hover {
   background-image: url('News2Holo.png');
   height: 300px;
   width: 600px;
   position: absolute;
   top: 280px;
   left: 250px;
}
